if VIDEO_MXC_CAMERA

menu "MXC Camera/V4L2 PRP Features support"

config VIDEO_MXC_EMMA_CAMERA
	tristate "MX27 eMMA support"
	depends on VIDEO_MXC_CAMERA && MXC_EMMA && FB_MXC_SYNC_PANEL && (MXC_CAMERA_MICRON111 || MXC_CAMERA_MC521DA)
	select VIDEO_MXC_OPL
	default y

config VIDEO_MXC_CSI_DMA
	bool "CSI-DMA Still Image Capture support"
	depends on VIDEO_MXC_EMMA_CAMERA
	default n
	---help---
	  Use CSI-DMA method instead of CSI-PrP link to capture still image. This allows
	  to use less physical contiguous memory to capture big resolution still image. But
	  with this method the CSC (Color Space Conversion) and resize are not supported.
	  If unsure, say N.

choice
	depends on (VIDEO_MXC_CAMERA && I2C_MXC)
	prompt "Select Camera"
	default MXC_CAMERA_MICRON111

config MXC_CAMERA_MC521DA
	bool "Magnachip mc521da camera support"
	---help---
	  If you plan to use the mc521da Camera with your MXC system, say Y here.

config MXC_CAMERA_MICRON111
	bool "Micron mt9v111 camera support"
	---help---
	  If you plan to use the mt9v111 Camera with your MXC system, say Y here.
endchoice

endmenu

endif
