config FB_MXC
	tristate "MXC Framebuffer support"
	depends on FB && (MXC_IPU || ARCH_MX2)
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	default y
	help
	  This is a framebuffer device for the MXC LCD Controller.
	  See <http://www.linux-fbdev.org/> for information on framebuffer
	  devices.

	  If you plan to use the LCD display with your MXC system, say
	  Y here.

config FB_MXC_SYNC_PANEL
	depends on FB_MXC
	tristate "Synchronous Panel Framebuffer"
	default y

config FB_MXC_TVOUT
	tristate "TV Out Encoder"
	depends on FB_MXC_SYNC_PANEL
	default n

config FB_MXC_OVERLAY
	bool "Framebuffer Overlay Plane"
	depends on FB_MXC_SYNC_PANEL
	default n

config FB_MXC_ASYNC_PANEL
	depends on FB_MXC
	bool "Asynchronous Panels"
	default n

menu "Asynchronous Panel Type"
	depends on FB_MXC_ASYNC_PANEL && FB_MXC

config FB_MXC_EPSON_PANEL
    depends on FB_MXC_ASYNC_PANEL
	default n
	bool "Epson 176x220 Panel"



endmenu

choice
	prompt "Async Panel Interface Type"
	depends on FB_MXC_ASYNC_PANEL && FB_MXC
	default FB_MXC_ASYNC_PANEL_IFC_16_BIT

config FB_MXC_ASYNC_PANEL_IFC_8_BIT
	bool "8-bit Parallel Bus Interface"

config FB_MXC_ASYNC_PANEL_IFC_16_BIT
	bool "16-bit Parallel Bus Interface"

config FB_MXC_ASYNC_PANEL_IFC_SERIAL
	bool "Serial Bus Interface"

endchoice

