# Code markers configuration

config MARKERS
	bool "Activate markers"
	select MODULES
	default n
	help
	  Place an empty function call at each marker site. Can be
	  dynamically changed for a probe function.

config MARKERS_DISABLE_OPTIMIZATION
	bool "Disable architecture specific marker optimization"
	depends EMBEDDED
	default n
	help
	  Disable code replacement jump optimisations. Especially useful if your
	  code is in a read-only rom/flash.
